* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-0: #fff;
  --bg-1: #f7f7f7;
  --bg-2: #fff;
  --bg-3: #fff;
  --bg-4: #fff;
  --bg-5: #fff;
  --bg-6: #fff;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
